@use '../../../assets/sass/colors'

.bank-slip,
.pix,
.credit-card
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  padding: 1.5rem

.payment-action
  min-height: 48px

.bank-slip-icon
  color: colors.$pourple

.pix-icon
  color: colors.$green

.credit-card-icon
  color: colors.$red2
