header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2vh 2vw 0vh 2vw

    mat-icon
        cursor: pointer

main
    form
        padding: 4vh 0vw 2vh 0vw

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

        [hidden]
            display: none !important

        .personal-data
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 20vw

            mat-form-field
                width: 16vw
            
            .icon-input
                cursor: pointer
                position: absolute
                top: 2vh
                right: 0.2vw

        .address-data
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 20vw

            mat-form-field
                width: 16vw
       

footer
    display: flex
    justify-content: space-around
    align-items: center
    padding-bottom: 2vh