<header>
    <div class="menu">
        <app-menu></app-menu>
    </div>

    <div class="title">
        <span>LOGO</span>
    </div>

    <div class="cart" (click)="openCart()">
        <mat-icon class="material-symbols-outlined">shopping_cart</mat-icon>

        @if (this.productsQuantity != 0) {
        <div class="productsQuantity">
            <span>{{ this.productsQuantity }}</span>
        </div>
        }
    </div>
</header>

<ng-container #container></ng-container>

<ng-template #loginTemplate>
    <section id="login">
        <div class="login-box">
            <span class="material-symbols-outlined icon-warning">warning</span>
            <span class="text-template">Necessário realizar login!</span>
            <button class="login-button" (click)="startingLogin()">Entrar</button>
            <span class="material-symbols-outlined icon-close">close_small</span>
        </div>
    </section>
</ng-template>