<section id="body">
  <div class="reviews">
    <h2>avaliações</h2>

    @for (avaliation of avaliations; track 0) {
      <p class="rating" [attr.aria-label]="'Avaliação: ' + (avaliation.filledStars ?? 0) + ' estrelas preenchidas'">
        <span class="filled-stars" aria-hidden="true">
          @for (_ of starRange(avaliation.filledStars); track $index) {
            <mat-icon class="material-symbols-outlined">star</mat-icon>
          }
        </span>

        <span class="stars" aria-hidden="true">
          @for (_ of starRange(avaliation.stars); track $index) {
            <mat-icon class="material-symbols-outlined">star_outline</mat-icon>
          }
        </span>
      </p>
    }
  </div>

  <div class="signature">
    <span class="company-name">Luz Violeta Macrâme</span>
    <span class="creator-name">Camila Ribeiro Pedroso, <mat-icon class="material-symbols-outlined" aria-label="Marca registrada">copyright</mat-icon>.</span>
  </div>
</section>
