
@use '../../../assets/sass/colors'

.form-grid
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 12px
	margin-bottom: 20px

	@media (max-width: 600px)
		grid-template-columns: 1fr

.full-width
	grid-column: span 2

	@media (max-width: 600px)
		grid-column: span 1

.topic-title
	font-size: 16px
	font-weight: 500
	color: colors.$black
	margin: 16px 0 8px 0
	border-bottom: 1px solid colors.$brand-stone
	padding-bottom: 4px

.upload-container
	display: flex
	align-items: center
	gap: 12px
	margin-top: 8px
	padding: 12px
	border: 1px dashed colors.$brand-stone
	border-radius: 4px

.file-name
	font-size: 14px
	color: colors.$black

.editor-wrapper
	// width: 100%
	grid-column: 1 / -1
	flex: 1 1 100% 
	margin: 1vh 2vw

	::ng-deep .ql-toolbar.ql-snow
		border-color: colors.$brand-stone
		border-radius: 8px 8px 0 0
		background-color: colors.$brand-ivory

	::ng-deep .ql-container.ql-snow
		border-color: colors.$brand-stone
		border-radius: 0 0 8px 8px
		min-height: 250px
		font-size: 1rem
		line-height: 1.6

	::ng-deep .ql-container.ql-snow.ql-focus
		border-color: colors.$brand-violet
