<h2 mat-dialog-title>Atualizar Produto</h2>

<mat-dialog-content>
    <form id="registerForm" [formGroup]="form" (ngSubmit)="updatingProduct()">

        <h3 class="topic-title">Informações Básicas</h3>
        <div class="form-grid">
            <mat-form-field appearance="outline" class="inputs-in-left">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" placeholder="Ex: Cortina Blecaute">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Preço (R$)</mat-label>
                <input matInput type="number" formControlName="price" placeholder="0.00">
            </mat-form-field>

            <mat-form-field appearance="outline" class="inputs-in-left">
                <mat-label>Estoque</mat-label>
                <input matInput type="number" formControlName="stock" placeholder="Quantidade">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Prazo</mat-label>

                <mat-select matNativeControl formControlName="deadline">
                    @for (deadline of deadlines; track deadline) {
                        <mat-option [value]="deadline.value">{{deadline.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <h3 class="topic-title">Classificação e Detalhes</h3>
        <div class="form-grid">
            <mat-form-field appearance="outline" class="inputs-in-left">
                <mat-label>Categoria</mat-label>
                <input matInput formControlName="category" placeholder="Ex: Cortinas, Almofadas">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <input matInput formControlName="type" placeholder="Ex: Veludo, Linho">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Garantia</mat-label>

                <mat-select matNativeControl formControlName="warranty">
                    @for (warranty of warranties; track warranty) {
                        <mat-option [value]="warranty.value">{{warranty.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Itens Inclusos</mat-label>
                <input matInput formControlName="included_items" placeholder="Ex: 1 Cortina, 2 Ilhós">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Características</mat-label>
                <input matInput formControlName="characteristics" placeholder="Ex: Lavável, Antialérgico">
            </mat-form-field>

            <mat-label>Descrição</mat-label>
            <div class="editor-wrapper">
                <quill-editor formControlName="description" [modules]="quillConfig" placeholder="Escreva e formate aqui..."></quill-editor>
            </div>
        </div>

        <h3 class="topic-title">Dimensões da Embalagem (Para o Frete)</h3>
        <div class="form-grid" formGroupName="packaging">
            <mat-form-field appearance="outline">
                <mat-label>Peso (kg)</mat-label>
                <input matInput type="number" formControlName="weight" placeholder="0.500">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Altura (cm)</mat-label>
                <input matInput type="number" formControlName="height" placeholder="10">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Largura (cm)</mat-label>
                <input matInput type="number" formControlName="width" placeholder="20">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Comprimento (cm)</mat-label>
                <input matInput type="number" formControlName="length" placeholder="30">
            </mat-form-field>
        </div>

        <h3 class="topic-title">Imagem do Produto</h3>
        <div class="upload-container">
            <input type="file" #fileInput (change)="onChangeFile($event)" accept="image/*" style="display: none;">
            <button mat-raised-button type="button" color="primary" (click)="fileInput.click()">
                <mat-icon class="material-symbols-outlined">image</mat-icon>
                <span>Selecionar Imagem</span>
            </button>

            @if (form.get('file')?.value) {
            <span class="file-name">
                {{ form.get('file')?.value?.name }}
            </span>
            }
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="accent" type="submit" form="registerForm" [disabled]="form.invalid">Atualizar Produto</button>
</mat-dialog-actions>