@use '../../../assets/sass/colors'
@use '../../../assets/sass/display'

.burguer-icon
	position: fixed
	z-index: 100
	cursor: pointer
	
	&:hover
		.line
			background-color: colors.$pourple

	.line
		width: 30px
		height: 3px
		background-color: colors.$black
		margin: 0px 0px 7px 0px

		@include display.hd
			width: 28px
			height: 3px
			margin: 0px 0px 5px 0px

		@include display.mobile
			width: 28px
			height: 3px
			margin-bottom: 4px

	.line-one
		transform: rotate(0deg)
		transition: all 700ms

	.line-two
		transition: all 600ms

	.line-three
		transform: rotate(-0deg)
		transition: all 700ms

.selected
	.line
		background-color: colors.$black

	.line-one
		transform: rotate(40deg)
		transition: all 700ms

	.line-two
		display: none

	.line-three
		position: fixed
		transform: rotate(-40deg)
		top: 3.4vh

		transition: all 700ms

.menu
	position: fixed
	display: flex
	justify-content: flex-end
	background-color: colors.$white
	z-index: -1
	top: 62px
	width: 0%
	height: 100%
	left: -1px
	transition: width 800ms ease, left 800ms ease

.menu-open
	position: fixed
	display: flex
	justify-content: center
	z-index: 1
	width: 260px
	height: 100%
	left: -1px
	box-shadow: 1px 1px 0px 0px colors.$pourple-gray
	transition: width 800ms ease, left 800ms ease

	@include display.hd
		width: 210px

	@include display.mobile
		width: 190px
