<section id="dialogDelete">
  <div class="contents" aria-labelledby="delete-image-title">
    <div class="content-header">
      <h2 id="delete-image-title">Excluir imagem</h2>

      <button mat-icon-button type="button" class="button-x" aria-label="Fechar" (click)="closeModal()">
        <mat-icon class="material-symbols-outlined" aria-hidden="true">close</mat-icon>
      </button>
    </div>

    <hr>

    <p>Imagem a ser excluída:</p>
    <div class="content-image">
      <img src="{{ this.imageUrl }}" alt="Imagem selecionada para exclusão">
    </div>

    <hr>

    <div class="content-footer">
      <button mat-button type="button" class="button-close" (click)="closeModal()">Fechar</button>
      <button mat-flat-button type="button" class="button-red" (click)="delettingImage()">Excluir</button>
    </div>
  </div>
</section>


