@use '../../../assets/sass/display'
@use '../../../assets/sass/colors'

.contents
  padding: 0 2vw

  .content-header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

  .content-image
    display: flex
    justify-content: center

    img
      width: 15vw
      height: 25vh
      border-radius: 5px
      object-fit: cover

      @include display.hd
        width: 50vw
        height: 40vh

      @include display.mobile
        width: 60vw
        height: 20vh

  .content-footer
    display: flex
    justify-content: flex-end
    gap: 0.75rem
    margin: 1rem 0

  .button-red
    background: colors.$red2
    color: colors.$black
