<section id="menu-desktop">
  @if (this.userId == 0) {
    <div class="login">
      <app-login></app-login>
    </div>
  }
 

  <div class="default-button newsletter item" (click)="closingMenu('/newsletter')">
     <mat-icon class="material-symbols-outlined">newspaper</mat-icon>
    <span translate="no">Newsletter</span>
  </div>

  <div class="default-button item" (click)="changeMenuProducts()">
    @if (this.isOpen == false) {
      <mat-icon class="material-symbols-outlined">arrow_drop_down</mat-icon>
    } @else {
      <mat-icon class="material-symbols-outlined">arrow_drop_up</mat-icon>
    }
    <span>Acessórios</span>
  </div>

  @if (this.isOpen == true) {
    <div class="menu-products">
      <div class="default-button light" (click)="closingMenu('/products')">
        <i class="bi bi-arrow-right-short"></i>
        <span>Todos</span>
      </div>
    </div>
  }

  <div class="default-button about item" (click)="closingMenu('/about')">
    <mat-icon class="material-symbols-outlined">article_person</mat-icon>
    <span>Sobre</span>
  </div>

  @if (this.userId !== 0) {
    <div class="default-button profile item" (click)="closingMenu('/profile/{{ this.userId }}')">Minha Conta</div>
  }
  
  @if (this.administrator == true) {
    <div class="default-button dashboard item" (click)="closingMenu('/dashboard')">Dashboard</div>
  }
 
  @if (this.userId !== 0) {
    <div class="content-button-logout">
      <div class="logout button-one" (click)="modalLogoutIsOpen()">Sair</div>
    </div>
  }
</section>

@if (this.modalLogout == true) {
  <div class="modal-logout">
    <h2>Deseja sair de sua conta ?</h2>

    <div class="row">
      <div class="close-modal-logout col-7"  (click)="modalLogoutIsOpen()">Não</div>
      <div class="button-logout col-5" (click)="isLogout()">Sim</div>
    </div>
  </div>
}

