@if (productsInCart.length > 0) {
  <section id="cart">
    <div class="title">
        <span>Carrinho Violeta</span>
    </div>

    <div class="cart-content">
      <div class="products">
        @for (product of productsInCart; track product._id) {
          <div class="product">
            <div class="product-image">
              <img src="{{ product?.file?.url }}" alt="{{ product?.file?.name }}">
            </div>

            <div class="product-info">
              <p>{{ product.name }}</p>
              <p>{{ product.description }}</p>
              <span>R$ {{ product.price }}</span>
            </div>

            <button mat-button type="button" class="button-remove-from-cart"
              [attr.aria-label]="'Remover ' + product.name + ' do carrinho'"
              (click)="removingProductFromCart(product)">
              <span>Remover do carrinho</span>
              <mat-icon class="material-symbols-outlined" aria-hidden="true">remove_shopping_cart</mat-icon>
            </button>
          </div>
        }
      </div>

      <div class="sale">
        <div class="details">
          <span>Total de produtos: {{ productsInCart.length }}</span>

          <div class="freight">
            <span>Frete: {{ 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
          </div>

          <span>Valor total: {{ this.finalValue | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
        </div>

        <div class="buttons-container">
          <button mat-stroked-button type="button" class="clear-cart" (click)="cartCleaning()">
            <mat-icon class="material-symbols-outlined" aria-hidden="true">remove_shopping_cart</mat-icon>
            <span>Limpar carrinho</span>
          </button>

          <button mat-flat-button type="button" class="buy-products" (click)="completePurchase()">
            <span>Finalizar Compra</span>
          </button>
        </div>
      </div>
    </div>
  </section>
}


@if (productsInCart.length === 0) {
  <section id="empty-cart">
    <div class="empty-cart-message">
      <span>Seu carrinho está vazio</span>
    </div>
  </section>
}
