header, footer
    display: flex
    align-items: center
    height: 10vh

header
    justify-content: space-between

footer
    justify-content: space-around

header, main
    padding: 0px 4vw 0px 4vw

main
    display: flex
    justify-content: center
    width: 50vw

    mat-form-field 
        width: 24vw

    .inputs-in-left
        margin-right: 1vw