@use '../../assets/sass/display'
@use '../../assets/sass/colors'

header
    display: flex
    justify-content: center
    max-width: 100vw
    margin-top: 4vh

main
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 4vh

    .products
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 70vw
        gap: 2vh 2vw

        img
            width: 20vw
            height: 45vh
            object-fit: cover

        .product-buttons
            display: flex
            justify-content: space-around

    .loading-container
        position: fixed
        top: 60px
        left: 0
        width: 100%
        z-index: 9999

:host ::ng-deep
    .loading-container
        mat-progress-bar
            .mdc-linear-progress__bar-inner
                border-color: #{colors.$pourple-light}
                background-color: #{colors.$pourple-light}