@use '../../assets/sass/display'
@use '../../assets/sass/colors'

header
	display: flex
	justify-content: space-between
	max-width: 100vw

main
	display: flex
	justify-content: center

	.products
		display: flex
		justify-content: center
		flex-wrap: wrap
		width: 60vw
		gap: 2vh 2vw

		.product-buttons
			display: flex
			justify-content: space-around
	
	.google-loading
		position: fixed
		transition: opacity 0.5s ease
		--mdc-linear-progress-active-indicator-color: colors.$blue
		top: 60px
		left: 0
		width: 100%
		z-index: 9999