<header>
	<button matButton="elevated" (click)="dialogCreate()">
		<span>Adicionar</span>
		<mat-icon class="material-symbols-outlined">add_box</mat-icon>
	</button>
</header>

<main>
	<div class="products">
		@for (product of products; track product._id) {
			<div class="product">
				<div class="product-buttons">
					<div class="update-and-delete-buttons update-product" (click)="dialogUpdate(product)">
						<span>Editar</span>
						<i class="bi bi-pencil-fill"></i>
					</div>

					<div class="update-and-delete-buttons delete-product" (click)="dialogDelete(product)">
						<span>Excluir</span>
						<i class="bi bi-trash3-fill"></i>
					</div>
				</div>

				<div class="card" (click)="setProductInLocalStorage(product)" routerLink="/product/{{ product._id }}">
					<img src="{{ product?.file?.url }}" alt="...">
					<p class="itemTitle" >{{ product?.name }}</p>
					<p class="itemValor">R$ {{ product?.price }}</p>
				</div>
			</div>
		}
	</div>  

	@if (isLoading) {
		<div class="loading-container">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
	}

	<div #scrollAnchor></div>
</main>