@use '../../../../assets/sass/display'
@use '../../../../assets/sass/colors'

$border-radius: 12px

#form
    width: 100vw

header
    display: flex
    justify-content: center
    align-items: center 
    height: 20vh

    .title
        font-size: 18px
        font-weight: 600

main
    form
        display: flex
        justify-content: space-around
        padding: 0px 20vw

        .mandatory-data
            display: flex
            flex-direction: column      
        
        .address-data
            mat-form-field
                margin-left: 2vw
                width: 160px

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

footer
    display: flex
    padding: 3vh 0px 0px 50vw

    p
        margin-right: 4vw
