<section id="desktop">
    @for (product of products; track product._id) {
        <div class="card-product">
            <!-- Coluna Esquerda: Imagem e Galeria -->
            <div class="product-gallery">
                <div class="carousel">
                    <img [src]="product?.file?.url" class="product-image" alt="Foto do Produto">
                </div>
            </div>

            <!-- Coluna Direita: Detalhes, Preço, Frete e Ações -->
            <div class="payment">
                <div class="header-payment">
                    <div class="price-product">
                       <span>R$ {{ product?.price }}</span>
                    </div>

                    <div class="icons-edit-or-delete">
                        <mat-icon class="material-symbols-outlined icon-btn edit" (click)="updateModal(product)">edit_square</mat-icon>
                        <mat-icon class="material-symbols-outlined icon-btn delete" (click)="deleteModal(product?._id)">delete</mat-icon>
                    </div>
                </div>

                <div class="description">
                    <div class="ql-editor" [innerHTML]="product?.description"></div>
                </div>

                <hr class="divider">

                <!-- Cálculo de Frete -->
                <div class="freight">
                    <h4>Calcular Frete</h4>

                    <form [formGroup]="freightForm" class="freight-form">
                        <div class="input-group">
                            <input id="postalCode" type="text" class="input-postalcode" formControlName="postalCode" placeholder="13306-192">
                            <button type="button" class="button-freight" (click)="searchShipping(this.freightForm.value.postalCode)">
                                <span>Calcular</span>
                                <i class="bi bi-airplane-engines ms-1"></i>
                            </button>
                        </div>
                    </form>                    

                    @if (shippings && shippings.length > 0) {
                        <div class="cards-shippings">
                            @for (shipping of shippings; track shipping) {
                                <div class="shipping-item">
                                    <div class="image-shipping">
                                        <img [src]="shipping?.company?.picture" alt="Transportadora">
                                    </div>
                                    <div class="price-shipping">
                                        <span>R$ {{ shipping?.price }}</span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

                <hr class="divider">

                <!-- Controle de Quantidade -->
                <div class="products-quantity">
                    <span class="label">Quantidade:</span>
                    <div class="quantity-selector">
                        <button type="button" class="btn-qty" (click)="changeQuantity('remove')">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <span class="quantity">{{ productsQuantity }}</span>
                        <button type="button" class="btn-qty" (click)="changeQuantity('add')">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>

                <!-- Botões de Ação do Carrinho -->
                <div class="add-to-cart">
                    @if (!productAddedToCart) {
                        <button type="button" class="btn-action add-btn" (click)="addingToCart()">
                            <span>Adicionar ao Carrinho</span>
                            <i class="bi bi-cart4"></i>
                        </button>
                    } @else {
                        <div class="cart-actions-group">
                            <button type="button" class="btn-action remove-btn" (click)="removingProductFromCart()">
                                <span>Remover</span>
                                <i class="bi bi-trash"></i>
                            </button>
                            <button type="button" class="btn-action go-btn" (click)="goToCart()">
                                <span>Ir para o Carrinho</span>
                                <i class="bi bi-cart-check"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</section>