<header>
	<div class="title">
		<h1>{{ product.name }}</h1>
	</div>
</header>

<main>
	<div class="image">
		<img src="{{ product.file?.url }}" alt="image">
	</div>

	<div class="description">
		<p class="valor">{{ product.price }}</p>
		<p class="valor">{{ product.category }}</p>
		<p class="valor">{{ product.type }}</p>
	</div>
</main>

<footer>
	<div class="buttons rows">
		<div class="button-cancel">
			<span (click)="closeDialog()">Cancelar</span>
		</div>

		<div class="delete-product" (click)="deletingProduct(product._id)">
			<span>Excluir</span>
		</div>
	</div>
</footer>