<div class="delete-modal-container">
    <header>
        <div class="title">
            <span class="warning-badge">Atenção</span>
            <h1>Deseja excluir este produto?</h1>
        </div>
    </header>

    <main>
        <div class="product-preview">
            <div class="image">
                <img [src]="product.file?.url" [alt]="product.name">
            </div>

            <div class="details">
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="price">R$ {{ product.price }}</p>
                
                <div class="tags">
                    <span class="tag">{{ product.category?.name }}</span>
                    <span class="tag">{{ product.type?.name }}</span>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="buttons rows">
            <button class="btn-cancel" (click)="closeDialog()">
                Cancelar
            </button>

            <button class="btn-delete" (click)="deletingProduct(product._id)">
                Excluir Produto
            </button>
        </div>
    </footer>
</div>