header
    display: flex
    justify-content: center
    width: 100vw

    .content-header
        display: flex
        align-items: center


    .title-icon
        .icon
            font-size: 40px
            font-weight: 550

    .title-name
        font-size: 25px
        font-weight: 550
        margin-left: 2vw

main
    display: flex
    justify-content: center
    width: 100vw
  

    .content-main
        width: 40vw

    .title-person-data, .title-address-data
        display: flex
        justify-content: space-between
        

    .personal-data, .address-data
        display: flex
        flex-direction: column
        