header
    display: flex
    justify-content: center
    width: 100vw
    padding-top: 4vh

    .content-header
        display: flex
        align-items: center

        .title-icon
            .icon
                width: 3vw
                height: 40px
                font-size: 40px

    .title-name
        font-size: 25px
        font-weight: 550
        margin-left: 2vw

main
    display: flex
    justify-content: center
    width: 100vw
  

    .content-main
        width: 40vw

    .title-person-data, .title-address-data
        display: flex
        justify-content: space-between
        padding-top: 4vh
        

    .personal-data, .address-data
        display: flex
        flex-direction: column

    
footer
    display: flex
    justify-content: center
    width: 100vw
    padding-top: 4vh

    .content-footer
        display: flex
        justify-content: space-around
        align-items: center
        width: 40vw
    