<section id="pageTitle">
  <h2 class="titles">Dashboard</h2>
</section>

<section id="salesHistory">
  <div class="sales-summary">
    <article class="sales-card">
      <p>Quantidade de Vendas: <span>{{ sales }}</span></p>
    </article>

    <article class="sales-card">
      <p>Produto mais vendido: <span>{{ product }}, </span> <span>com {{ highestSellingProduct }} Vendas</span></p>
    </article>
  </div>

  <hr class="section-divider">
</section>

<section id="charts">
  <div class="vertical-chart">
    <h2>Número de Clientes Registrados</h2>
    <app-vertical-chart></app-vertical-chart>
  </div>
</section>

