<header>
    <div class="title">
        <h3>{{ createForm.value.id ? 'Editar Produto' : 'Novo Produto' }}</h3>
    </div>
    <div class="close">
        <span (click)="closeModal()">X</span>
    </div>
</header>

<main>
    <form id="createForm" [formGroup]="createForm">
        <div class="line-one">
            <mat-form-field appearance="outline">
                <mat-label>Nome:</mat-label>
                <input matInput formControlName="name" placeholder="Luminária de Azul">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Valor:</mat-label>
                <input matInput formControlName="valor" placeholder="R$ 580,40">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Imagem:</mat-label>
                <input type="file" (change)="onChangeFile($event)">
                <input matInput formControlName="file" style="display: none;">
            </mat-form-field>
        </div>
        
        <div class="line-two">
            <mat-form-field appearance="outline">
                <mat-label>Categoria:</mat-label>
                <mat-select formControlName="category">
                    @for (category of categories; track category) {
                        <mat-option [value]="category">{{ category }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="line-three">
            <mat-form-field appearance="outline">
                <mat-label>Descrição:</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>
</main>

<footer>
    <div class="actions-buttons">
        <button matButton="outlined" (click)="creatingProduct()">
            {{ createForm.value.id ? 'Salvar Alterações' : 'Cadastrar' }}
        </button>
        <button mat-button="outlined" (click)="closeModal()">Fechar</button>
    </div>
</footer>