<section class="content-form" aria-labelledby="image-form-title">
  <div class="content-header">
    @if (updateData._id == undefined) {
      <h2 id="image-form-title">Criar nova imagem</h2>
    } @else {
      <h2 id="image-form-title">Atualizar imagem</h2>
    }

    <button mat-icon-button type="button" class="button-x" aria-label="Fechar" (click)="closeModal()">
      <mat-icon class="material-symbols-outlined" aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <hr>

  <form [formGroup]="form">
    <div class="content-inputs">
      <div class="content-link-product">
        <mat-form-field appearance="outline">
          <mat-label>Digite o link do produto</mat-label>
          <input matInput type="text" formControlName="linkProduct" id="linkProduct">
        </mat-form-field>
      </div>

      @if (updateData._id == undefined) {
        <div class="content-file-image">
          <label for="file">Adicionar imagem:</label>
          <input id="file" type="file" class="file-input" accept="image/*" (change)="onChangeFile($event)">
        </div>
      } @else {
        <div>
          <p>Imagem atual:</p>
          <div class="current-image">
            <img src="{{this.updateData.file?.url}}" alt="Imagem atual">
          </div>

          <div class="content-file-image">
            <label for="file">Trocar imagem:</label>
            <input id="file" type="file" class="file-input" accept="image/*" (change)="onChangeFile($event)">
          </div>
        </div>
      }
    </div>

    <hr>

    <div class="content-footer">
      <button mat-button type="button" class="button-close" (click)="closeModal()">Fechar</button>

      @if (updateData._id == undefined) {
        <button mat-flat-button type="button" class="button-send" (click)="addOrEditImage()">Criar</button>
      } @else {
        <button mat-flat-button type="button" class="button-send" (click)="addOrEditImage()">Atualizar</button>
      }
    </div>
  </form>
</section>
